#pragma code_page(65001)

1 24 "fuashiato.manifest"

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "ProductName", "FuAshiAto"
      VALUE "FileDescription", "FuAshiAto - records the footprints of your own work"
      VALUE "FileVersion", "0.2.0"
      VALUE "ProductVersion", "0.2.0"
      VALUE "OriginalFilename", "fuashiato.exe"
      VALUE "InternalName", "fuashiato"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
